<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= micropost.content %></p>
        </div>
    <div class="d-flex">
          <% if current_user == micropost.user %>
          <%= link_to 'Delete', micropost_path(micropost.id), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm mr-2' %>
          <% end %>
      
        <% if current_user.likes.include?(micropost) %>     
          <%= form_with(model: @favorite, url: favorite_path(id: micropost.id), local: true, method: :delete) do |f| %>
          <%= f.hidden_field :micropost_id, value: micropost.id %>
          <%= f.submit 'いいね！済み' %>
        <% end %>
      
      <% else %>
        <%= form_with(model: @favorite, url: favorites_path, local: true) do |f| %>
          <%= f.hidden_field :micropost_id, value: micropost.id %>
          <%= f.submit 'いいね！' %>
        <% end %>
      <% end %>      
    </div>
  </div>
<% end %>　
  <%= paginate microposts %>
</ul>
  

  





